<h1><%= t("nav.create_account") %></h1>

<%= form_with model: @user, url: registration_path do |form| %>
  <% if @user.errors.any? %>
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

  <p><%= form.email_field :email_address, required: true, autofocus: true, autocomplete: "username", placeholder: t("auth.email") %></p>
  <p><%= form.password_field :password, required: true, autocomplete: "new-password", placeholder: t("auth.password"), maxlength: 72 %></p>
  <p><%= form.password_field :password_confirmation, required: true, autocomplete: "new-password", placeholder: t("auth.repeat_password"), maxlength: 72 %></p>
  <p><%= form.submit t("nav.create_account") %></p>
<% end %>

<p><%= link_to t("auth.already_have_account"), new_session_path %></p>
