<h1><%= t("modules.upload_title") %></h1>

<%= form_with model: @game_module, url: admin_game_modules_path do |form| %>
  <% if @game_module.errors.any? %>
    <ul>
      <% @game_module.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

  <p>
    <%= form.label :package, t("modules.package_label") %>
    <%= form.file_field :package, accept: ".vmod,application/zip", required: true %>
  </p>
  <p><%= form.submit t("modules.upload_submit") %></p>
<% end %>
