<h1><%= t("modules.title") %></h1>

<% if @game_modules.any? %>
  <div class="cards">
    <% @game_modules.each do |game_module| %>
      <div class="card">
        <% cover = game_module.ready? ? module_cover_path(game_module) : nil %>
        <% if cover %>
          <%= link_to game_module_path(game_module) do %>
            <div class="thumb" style="background-image: url('<%= cover %>')"></div>
          <% end %>
        <% else %>
          <div class="thumb"></div>
        <% end %>
        <div class="body">
          <%= link_to game_module.name || game_module.slug, game_module_path(game_module) %>
          <div class="meta">
            <span class="status-pill <%= game_module.status %>"><%= t("modules.status.#{game_module.status}", default: game_module.status) %></span>
            <% if game_module.version.present? %>v<%= game_module.version %><% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <p><%= t("modules.none_yet") %></p>
  <% if Current.user&.admin? %>
    <p><%= link_to t("modules.upload_first"), new_admin_game_module_path %></p>
  <% end %>
<% end %>
